body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}
.header {
    margin-top: 150px;
    font-size: 40px;
    font-weight: bold;
    color:firebrick;
    margin-bottom: 40px;
}


#nav {
    margin-top: 20px;
}

#nav ul {
    list-style-type: none;
    padding: 300px;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
}

#nav li {
    display: inline-block;
}

.project-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    gap: 40px;
    font-weight: bold;
    color: #fff;
    background-color:deeppink;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin-top: 0%;
}

.project-button:hover {
    background-color: #0056b3;
    transform: scale(1.1); 
}


#content {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}

iframe {
    width: 700px;
    height: 500px;
    border: none;
    margin-top: 20px;
}
